{% extends 'base.html' %}

{% block title%} Welcome to BlogMingle {% endblock %}

{% block content %}


    <div class="container-custom">
        <!-- Set up your HTML -->
        <div class="owl-carousel">
            {% for cat in cats %}
            
                <div class="card item" style="margin-left: 10px;">
                <div class="img-container">
                    <img src="/media/{{ cat.image }}" class="responsive-img" style="width: 250px;height: 250px;margin-left: 50px">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        {{ cat.title}}
                    </div>
                    <p class="truncate">{{ cat.description }}</p>
                    <div class="container center-align mt20" >
                    <a class="btn bg-primary" href="/category/{{ cat.url }}"> VIEW</a>
                </div>
                </div>

                </div>
                
            {% endfor %}
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col s12">

                {% for p in posts %}

                     <div class="row">
                     <div class="col s12 m8">
                            {{ p.content |truncatewords:60| safe}}
                            <div class="mt20">
                                <a href="/blog/{{ p.url }}" class="btn bg-primary">Read More..</a>
                            </div>
                     </div>
                     
                     <div class="col s12 m4">
                         <img src="/media/{{ p.image }}"class="responsive-img" style="margin-top: 50px;">
                     </div>
                     
                     </div>

                {% endfor %}


            </div>


        </div>
    </div>

{% endblock %}